.content {
  display: flex;
  justify-content: center;
  inline-size: 1140px;
  gap: 30px;
  margin: auto;
  align-items: end;
}

.content__list {
  overflow: auto;
  block-size: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 26px;
  inline-size: 399px;
}

.content__list-item {
  display: flex;
  flex-direction: column;
}

.content__video-card {
  display: flex;
  align-content: start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex: 1 1 200px;
  max-inline-size: 200px;
}

.content__video-card-title {
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.search-form {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__checkbox-list {
  inline-size: fit-content;
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  min-inline-size: 225px;
  min-block-size: 27px;
  appearance: none;
  cursor: pointer;
  background-color: inherit;
  color: rgba(255, 255, 255);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
  border-inline-start: transparent;
  border-inline-end: transparent;
  outline: none;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  outline: 1px solid #000;
  outline-offset: -2px; 
  }

.button {
  cursor: pointer;
  background-color: inherit;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  border: 1px solid currentColor;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: end;
}

.more-button {
  inline-size: 399px;
  block-size: 34px;
  margin: 2px; /* для полного отображения оутлайна при табуляции (иначе некоторые края съедаются) */
}

.surch-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  }

  .content__card-link {
    display: block;
    margin: 2px;
    color: #fff;
    text-decoration: none;
  }

  .content__card-link:active {
    background: #545050;
  }

  .content__card-link_current {
    background: #545050;
  }

  .content__card-link:hover {
    text-decoration: underline;
  }

  .content__card-link:focus-visible {
    outline: 1px solid #fff;
  }

  .content__list::-webkit-scrollbar {  /* подогнал цвет ползунка, так как базовый очень попадается в глаза*/
    background: #242121;
  }

  .content__list::-moz-scrollbar {
    background: #242121;
  }

  .content__list::-ms-scrollbar {
    background: #242121;
  }

  .content__list::-o-scrollbar {
    background: #242121;
  }